<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
    
</head>
<body>
    <h1>Your Projects</h1>
    <div id="project-list"></div>
</body>

<script>
    async function loadProjects(){
        const response=await fetch("/api/projects/");
        const data=await response.json()
        const projectList=document.getElementById("project-list")
        
        data.forEach(function(project){
            const projectElement=document.createElement("p");
            projectElement.innerText=project.name
            projectList.append(projectElement)
        });
    };

    loadProjects()
</script>

</html>
